<p>slider works!</p>
<enl-hd-slider-lib [items]="
                [
                  {
                      highSrc: '../assets/pic1-min.jpg',
                      lowSrc: '../assets/apparence.png'
                  },
                  {
                      highSrc: '../assets/pic2-min.jpg',
                      lowSrc: '../assets/apparence.png'
                  },
                  {
                    highSrc: '../assets/pic3-min.jpg',
                    lowSrc: '../assets/apparence.png'
                }
                ]" #AppSlider></enl-hd-slider-lib>
